.block {
    background-color: rgb(41, 41, 41);
    width: 100px;
    height: 100px;
    position: grid;
    row-gap: 10px;
    column-gap: 10px;
    transition: all 0.1s;
    border: 0px white solid;
    border-radius: 3px;
}

#blocks,
#challengeblocks {
    display: grid !important;
    grid-template-columns: repeat(9, 110px);
    grid-template-rows: repeat(9, 110px);
    position: absolute !important;
    top: 50%;
    left: 50%;
    background-color: rgb(17, 17, 17);
    transform: translate(-50%, -50%);
    width: 980px !important;
    height: 980px !important;
    padding: 10px !important;
    border-radius: 10px !important;
    box-sizing: initial !important;
}

html {
    background-color: rgb(7, 7, 7);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    z-index: 10;
}

button {

    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(100, 100, 100);
    color: white;
    cursor: pointer;
    z-index: 10;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

button:hover {
    background-color: rgb(150, 150, 150);
}

.floating-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 400px;
    background-color: rgb(30, 30, 30);
    border: 2px solid white;
    border-radius: 10px;
    z-index: 20;
    /* display: none; */
    padding: 20px;
    box-sizing: border-box;
}

#codespace textarea {
    width: 100%;
    min-height: calc(100% - 50px);
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

#objectiveContainer {
    width: 1010px;
    height: 1100px;
    padding: 20px;
}
#challengeblocks {
    width: 980px;
    height: 980px;
    padding: 10px;
    top: 100%;
    transform: translate(-50%, -100%);
}

#closeChallenges, #closeDataspace, #closeCodespace {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(200, 50, 50);
}

.accuracy {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 1.2rem;
    margin-left: 20px;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(50, 150, 50);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    z-index: 1000;
    opacity: 0.9;
}